:root {}


/* Text Styles */

.text-justify {
    text-align: justify;
}


/* Text Colors */

.red-text {
    color: red;
}

.card-dark {
    color: white;
    text-align: center;
    background-color: #212529;
}

.text-purple{
    color: fuchsia;
}


/* Alerts */

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.select {
    border: 1px solid #fff;
    background: #212529;
    color: white;
}

.select option {
    background: #212529;
    border: 1px solid #e4e4e4;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* MEDIA QUERIES */


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    html {
        font-size: small;
    }
}