:root {}

/* Text Styles */

.text-justify {
    text-align: justify;
}

/* Text Colors */

.red-text {
    color: red;
}

/* Alerts */

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

/* MEDIA QUERIES */

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    html {
        font-size: small;
    }
}